body {
  font-family:arial,helvetica,sans-serif;
  font-size:13px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.4;
  text-align:center;
  }
  body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    background: var(--color-background);
    color: var(--color-text);
    /* rem vw/vh */
    width: 100vw;
  }
  body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, textarea, select, button, th, td {
  margin:0;
  padding:0;
  }
  h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
  }
  table {
  font-size:inherit;
  }
  input, select {
  font-family:arial,helvetica,clean,sans-serif;
  font-size:100%;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  }
  button {
  overflow:visible;
  }
  th, em, strong, b, address, cite {
  font-style:normal;
  font-weight:normal;
  }
  li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  }
  img, fieldset {
  border:0 none;
  }
  ins {
  text-decoration:none;
  }